asn1crypto==0.24.0
attrs==21.2.0
certifi==2018.1.18
chardet==3.0.4
cryptography==2.1.4
idna==2.6
iniconfig==1.1.1
keyring==10.6.0
keyrings.alt==3.0
mypy==0.910
mypy-extensions==0.4.3
netifaces==0.10.4
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
pytest==6.2.4
python-apt==1.6.5+ubuntu0.6
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
SecretStorage==2.3.1
six==1.11.0
ssh-import-id==5.7
toml==0.10.2
typing-extensions==3.10.0.0
ubuntu-advantage-tools==27.0
urllib3==1.22
